
#minimalizeButton {
    -fx-background-color: #032475;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#minimalizeButton:hover {
    -fx-text-alignment: center;
    -fx-background-color: white;
    -fx-text-fill: #032475;
}

#exitButton {
    -fx-background-color: #032475;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#exitButton:hover {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.combo-box {
    -fx-text-fill: #032475;
    -fx-focus-color: #032475;
    -fx-faint-focus-color:  #03247515;
}

.text-field {
    -fx-text-fill: #032475;
    -fx-focus-color: #032475;
    -fx-faint-focus-color:  #03247515;
}

#logInbutton {
    -fx-background-color: #032475;
    -fx-text-fill: white;
    -fx-border-radius: 3;
    -fx-border-color: #032475;
}

#logInbutton:hover {
    -fx-background-color: white;
    -fx-text-fill: #032475;
    -fx-border-color: #032475;
    -fx-border-radius: 3;
}

#menuButton1 {
    -fx-background-color: #032475;
    -fx-text-fill: white;
    -fx-border-color: #032475;
    -fx-border-width: 1;
}

#menuButton1:hover {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: black;
}

#menuButton2 {
    -fx-background-color: #032475;
    -fx-text-fill: white;
    -fx-border-color: #032475;
    -fx-border-width: 1;
}

#menuButton2:hover {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: black;
}

#menuButton3 {
    -fx-background-color: #032475;
    -fx-text-fill: white;
    -fx-border-color: #032475;
    -fx-border-width: 1;
}

#menuButton3:hover {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: black;
}

#menuButton4 {
    -fx-background-color: #032475;
    -fx-text-fill: white;
    -fx-border-color: #032475;
    -fx-border-width: 1;
}

#menuButton4:hover {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: black;
}

#logOut {
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-background-color: #032475;
    -fx-text-fill: white;
    -fx-border-radius: 20;
}

#logOut:hover{
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 20;
    -fx-rotate: 10;
}

#reportBug:hover {
    -fx-text-fill: green;
}